<div class="container-fluid bg-color">
  <div class="row">
    <div class="col-12 col-sm-6 d-flex justify-content-center">
      <img src=<%= image %> alt="bird-watching" width="100%" height="auto"
      style="max-width: 500px" />
    </div>
    <div
      class="col-12 col-sm-6 d-flex justify-content-center align-items-center"
    >
      <h2 class="display-3 text-white">
        <%= text %>
      </h2>
    </div>
  </div>
</div>
